name: scanr CD

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build binary
        run: |
          mkdir -p dist
          go build -o dist/scanr

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: scanr-linux
          path: dist/scanr

